*
!assets
!assets/photo.jpg
!assets/resume.html
!assets/resume.json
!assets/resume.pdf
!deno.json
!deno.lock
!.gitattributes
!.gitignore
!LICENSE
!main.ts
!package.json
!.pixi/config.toml
!pixi.lock
!pixi.toml
!readme.md
